.loader {
  height: 100vh;
  display: flex;
  align-items: center;
}

.loader>div {
  display: block;
  width: 100%;
  text-align: center;
}

.header-area {
  background-color: #eee;
}

.header {
  width: 940px;
  margin: 0 auto;
}

.brand a {
  text-decoration: none;
  font-size: 26px;
  color: #333;
}

.brand span {
  background-color: #333;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
  margin-right: 5px;
}

.btn-add a {
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 45px 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li.btn-add {
  float: right;
}

.header .intro {
  padding: 0 50px;
  text-align: center;
  padding-bottom: 100px;
}

.header .intro input {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
  transition: .2s all ease;
}

.header .intro input:focus{
  outline: none;
  box-shadow: 0 0 0 4px #d6dcdb;
}

.header .intro p {
  margin-top: 0px;
  color: #485663;
  font-size: 15px;
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.top>div {
  flex-grow: 1;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(102, 119, 136, .55);
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(51,68,85,.5);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.mt-0 {
  margin-top: -50px;
}

.card {
  background: #fff;
  margin: 8px;
}

.c-card a {
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  color: #fff;
}

.contents h2 {
  text-align: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.contents .c-card a {
  color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

.contents .c-card h4 {
  font-size: 18px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.content h3 {
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.items>div {
  width: calc(33.3333% - 20px)
}

.c-card h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.c-card p {
  margin-bottom: 0;
}

.single-content {
  display: flex;
  flex-wrap: wrap;
}

.single-content>div {
  margin: 15px;
  flex: 1 1 calc(50% - 30px);
}

.single-items h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.single-item {
  background-color: #fff;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

.single-item .item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.single-item .item:last-child {
  margin-bottom: 0;
}

.single-item .def {
  flex: 1;
  padding: 5px;
}

.single-item .code,
.single-item p {
  margin-bottom: 0;
}

.single-item pre {
  padding: 5px;
  background-color: transparent;
  color: #1565C0;
}

.btn {
  border: none;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 900;
}

.btn-home {
  background-color: #607D8B;
}

.btn-new {
  background-color: #4CAF50;
}

.btn-bug {
  background-color: #F44336;
}

.print {
  text-align: center;
}

.btn-print {
  background-color: #333;
}

ul.social {
  list-style: none;
  text-align: center;
  padding: 15px 0;
}

ul.social h3 {
  margin-bottom: 15px;
  font-size: 16px;
}

ul.social li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.error {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.error img {
  width: 240px;
}

.error h2 {
  font-size: 42px;
}

.error p {
  font-size: 18px;
}

footer ul {
  list-style: none;
  margin-bottom: 10px;
}

footer ul li {
  display: inline-block;
  margin: 0 5px;
}

footer ul li a {
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 2px 10px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 13px;
}

.footer-area {
  background-color: #eee;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  .navbar ul {
    padding: 40px 25px;
  }

  .header {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 668px) {

  .single-content>div {
    flex-basis: calc(100% - 20px);
    margin: 0 10px;
    margin-bottom: 15px;
  }

  .error {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  li.brand {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar ul li.btn-add {
    display: none;
  }

  .container {
    padding: 25px 0;
  }

  .header .intro {
    padding: 0 15px;
    padding-bottom: 15px;
  }

  .top>div,
  .items>div {
    width: 100%;
  }

  .mt-0 {
    margin-top: -25px;
  }
}

@media print {
  @page {
    margin: 0.5cm;
  }

  .no-print {
    display: none !important;
  }

  .single-content>div {
    flex-basis: 100%;
  }

  .single-item {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .single-item .item {
    flex: 2 2 50% !important;
    padding: 0 15px !important;
  }

  .navbar ul {
    margin: 0 auto !important;
    padding: 25px !important;
    text-align: center !important;
  }

  .brand a {
    color: #fff !important;
    filter: invert(100%) !important;
  }

  .brand span {
    background-color: #fff !important;
    color: #000 !important;
    padding: 0 8px !important;
    font-weight: 900 !important;
  }

  .header .intro {
    padding-bottom: 0px !important;
  }

  .navbar ul li.btn-add {
    display: none !important
  }

  .single-content {
    margin: 0 50px !important;
  }

  .single-item {
    padding: 0 !important;
    box-shadow: none !important;
  }

  .single-items h3 {
    color: #000 !important;
  }

  .footer-area {
    visibility: hidden !important;
  }
}